@import "./variables";
@import "./reset";

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: $radius;
  background-color: $primary-color;
  color: white;
  cursor: pointer;
  transition: $transition;
  font-family: $font-family;
}
