$primary-color: #2d6bc8;
$secondary-color: #10bc83;
$terciary-color: #fac7d5;
$bg-color: #dfe0e2;
$text-color: #071013;

$font-family: "DM Sans", sans-serif;

$radius: 8px;
$transition: all 0.3s ease;
