.layout {
  .navbar {
    display: flex;
    align-items: center;
    background-color: #2d6bc8 !important;
    padding: 1rem;

    .logo {
      margin-right: 2rem;
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
      background-color: #2d6bc8;
    }

    nav {
      display: flex;
      gap: 1.5rem;
      background-color: #2d6bc8;

      a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        background-color: transparent;

        &.active {
          border-bottom: 2px solid white;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  main {
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
  }

  footer {
    text-align: center;
    padding: 1rem;

    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
  }
}
